<ul class="nav nav-sidebar">
  <li ng-class="{active :vm.isActive('/courseList')}"><a ui-sref="courseList">Course list </a></li>
  <li ng-class="{active :vm.isActive('/studentList')}"><a ui-sref="studentList">Student list</a></li>
  <li ng-class="{active :vm.isActive('/studentListHigher')}"><a ui-sref="studentListHigher">Student by grade list</a></li>
</ul>

<!--<ul class="nav nav-sidebar">-->
  <!--<li><a href="">Nav item</a></li>-->
  <!--<li><a href="">Nav item again</a></li>-->
  <!--<li><a href="">One more nav</a></li>-->
  <!--<li><a href="">Another nav item</a></li>-->
  <!--<li><a href="">More navigation</a></li>-->
<!--</ul>-->
<!--<ul class="nav nav-sidebar">-->
  <!--<li><a href="">Nav item again</a></li>-->
  <!--<li><a href="">One more nav</a></li>-->
  <!--<li><a href="">Another nav item</a></li>-->
<!--</ul>-->
